*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

:root{
--bg:#0f0f0f;
--text:#ffffff;
--accent:#ff2e2e;
--card:#1c1c1c;
--nav:#111111;
}

/* LIGHT MODE */
body.light{
--bg:#ffffff;
--text:#000000;
--accent:#ff0000;
--card:#001f3f;
--nav:#ffffff;
}

body{
background:var(--bg);
color:var(--text);
transition:0.4s;
}

/* NAV */
nav{
position:fixed;
top:0;
width:100%;
padding:20px 8%;
background:var(--nav);
display:flex;
justify-content:space-between;
align-items:center;
z-index:1000;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
text-decoration:none;
color:var(--text);
}

#themeToggle{
padding:8px 15px;
cursor:pointer;
}

/* HERO */
.hero{
min-height:100vh;
padding:140px 8% 80px;
display:flex;
justify-content:space-between;
align-items:center;
gap:50px;
}

.hero h1{
font-size:60px;
font-weight:800;
}

.hero span{
color:var(--accent);
}

.hero p{
margin-top:20px;
opacity:0.8;
}

.hero img{
width:300px;
border-radius:20px;
}

.hero-buttons{
margin-top:30px;
display:flex;
gap:20px;
}

.btn{
padding:12px 25px;
border-radius:30px;
text-decoration:none;
font-weight:600;
}

.btn-primary{
background:var(--accent);
color:white;
}

.btn-outline{
border:2px solid var(--accent);
color:var(--accent);
}

/* SECTION */
section{
padding:80px 8%;
}

section h2{
text-align:center;
margin-bottom:50px;
font-size:40px;
}

/* CARD */
.card-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.card{
background:var(--card);
padding:30px;
border-radius:20px;
}

/* GALLERY */
.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery img{
width:100%;
border-radius:15px;
}

/* SOCIAL */
.social-container{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.social-card{
background:var(--card);
padding:25px 35px;
border-radius:20px;
text-align:center;
}

.social-card a{
display:block;
margin-top:10px;
color:var(--accent);
}

/* ANIMATION */
.reveal-up{
opacity:0;
transform:translateY(80px);
transition:all 0.8s ease;
}

.reveal-up.active{
opacity:1;
transform:translateY(0);
}

.typing-text::after{
content:"|";
animation:blink 1s infinite;
}

@keyframes blink{
0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}
