*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

:root{
--text:#ffffff;
--accent:#ff1a1a;
--card:#0f0f0f;
--nav:#0a0a0a;
}

body{
background: linear-gradient(270deg, 
#000000,
#3b0000,
#660000,
#8b0000,
#660000,
#3b0000,
#000000
);
background-size: 500% 500%;
animation: redWave 8s ease-in-out infinite;
color: var(--text);
}

@keyframes redWave{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

/* NAV */
nav{
position:fixed;
top:0;
width:100%;
padding:20px 8%;
background:var(--nav);
display:flex;
justify-content:space-between;
align-items:center;
z-index:1000;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
text-decoration:none;
color:var(--text);
}

#themeToggle{
padding:8px 15px;
background:var(--accent);
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

/* HERO */
.hero{
min-height:100vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:120px 8%;
gap:40px;
}

.hero h1{
font-size:50px;
}

.hero-top-text{
font-size: 20px;
letter-spacing: 3px;
color: #ffffff;
text-transform: uppercase;
display: inline-block;
margin-bottom: 10px;
}

.hero span{
color:var(--accent);
}

.hero img{
width:260px;
border-radius:20px;
}

/* SECTION */
section{
padding:100px 8%;
}

h2{
text-align:center;
margin-bottom:50px;
font-size:40px;
}

/* CARD */
.card{
background: var(--card);
padding: 30px;
border-radius: 20px;
border: 1.5px solid #8b0000;
transition: 0.3s ease;
cursor:pointer;
}

.card:hover{
transform:translateY(-5px);
}

.card:active{
transform:scale(0.97);
}

.card.active-card{
border-color:#ff0000;
box-shadow:
0 0 15px #ff0000,
0 0 30px #ff0000,
0 0 60px rgba(255,0,0,0.8);
}

/* REVEAL */
.reveal-up{
opacity:0;
transform:translateY(80px);
transition:0.8s ease;
}

.reveal-up.active{
opacity:1;
transform:translateY(0);
}

/* GALLERY */
.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery img{
width:100%;
border-radius:15px;
}

footer{
text-align:center;
padding:40px;
opacity:0.7;
}
